.dropdown-btn {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100%);
    background: var(--indigo);
    min-width: 200px;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.dropdown-btn:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 5px 10px;
}

.dropdown-menu a:hover {
    border-left: 3px solid var(--light);
}

/* Audio Player */

.player {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    /* width: calc(100% - 10px); */
    background-color: #fff;
    box-shadow: 0 1px 12px 2px rgb(0 0 0 / 15%);
    border-radius: 30px;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    z-index: 103;
}

.player .la-pause {
    display: none;
}

.player.playing .la-pause {
    display: inline-block;
}

.player.playing .la-play {
    display: none;
}

.progressbar {
    position: absolute;
    top: -3px;
    left: 80px;
    right: 80px;
    /* display: none; */
}

.progressbar .bar {
    position: absolute;
    top: 3px;
    left: 0;
    height: 7px;
    width: 50%;
    background-color: var(--indigo);
}

.audio-progress {
    -webkit-appearance: none;
    width: 100%;
    position: relative;
    top: -8px;
    height: 7px;
    box-shadow: 0 2px 6px 2px rgb(117 63 220 / 10%);
    background: rgba(117, 63, 220, .5);
    outline: none;
    /* overflow: hidden; */
    cursor: pointer;
    z-index: 2;
}

.audio-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--indigo);
    cursor: pointer;
    border-radius: 50%;
}

.audio-progress::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--indigo);
    cursor: pointer;
}

.audio-progress::-moz-range-progress {
    background: var(--indigo);
    height: 3px;
}

.player .audio {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    max-width: 33%;
}

.audio .song-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.song-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.song-content, .playlist__song-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.song-content h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

.song-content span {
    color: rgb(82, 82, 82);
    font-size: 16px;
}

.audio-controls {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    max-width: 33%;
    align-items: center;
    justify-content: center;
}

.audio-info {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    max-width: 33%;
}

.default-btn {
    outline: none;
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
}

.default-btn i {
    cursor: pointer;
}

.default-btn i:hover {
    color: var(--indigo);
}

.audio__icon {
    font-size: 30px;
}

.audio__icon.selected {
    color: var(--indigo) !important;
}

.hide__icon {
    display: none;
}

.circle__btn {
    border-radius: 50%;
    box-shadow: 0 2px 6px 2px rgb(34 38 41 / 15%);
}

.circle__btn:hover {
    background-color: var(--indigo);
}

.circle__btn:hover [class*=las] {
    color: var(--white);
}

.audio-controls-right {
    margin-left: 40px;
}

.audio-controls-left {
    margin-right: 40px;
}

.audio-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.audio-info .duration-info {
    margin-right: 20px;
}

.audio-control-volume {
    position: relative;
}

.dropdown-volume-range {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 2px rgb(34 38 41 / 15%);
    background-color: #fff;
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
    z-index: 104;
}

.dropdown-volume-range.show {
    top: -50px;
    opacity: 1;
    visibility: visible;
}

.audio-volume {
    -webkit-appearance: none;
    /* width: 100%; */
    position: relative;
    top: -0.25rem;
    height: 3px;
    background: rgba(117, 63, 220, .3);
    outline: none;
}

.audio-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--indigo);
    cursor: pointer;
    border-radius: 50%;
}

.audio-volume::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: var(--indigo);
    cursor: pointer;
}

.lyric-box {
    position: fixed;
    max-height: calc(100% - 90px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 90px;
    padding: 2rem;
    z-index: 102;
    background: var(--white);
    box-sizing: border-box;
    transform: translateY(calc(100% + 90px));
    opacity: 0;
    transition: transform .75s ease, opacity .75s ease;
}

.lyric-box.show{
    opacity: 1;
    transform: translateY(0);
}

.lyric-box .hide-lyric-box{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hide-lyric-box i{
    font-size: 30px;
}

.lyric-box .row, .lyric-box .row .col-6{
    height: 100%;
    width: 100%;
}

.lyric-thumbnail{
    height: 100%;
    display: flex;
}

.lyric-thumbnail img{
    height: 100%;
    margin: 0 auto;
}

.lyric-content{
    overflow-y: auto;
    height: 100%;
}

.lyric-content p{
    font-size: 40px;
    font-weight: 600;
}

.lyric-content::-webkit-scrollbar{
    display: none;
}

.dropleft {
    position: relative;
}

.dropdown-song-menu , .song__menu-list, .dropdown-track-menu-artist{
    position: absolute;
    right: 40px;
    min-width: 180px;
    border-radius: 15px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 2px 6px 2px rgb(34 38 41 / 15%);
    padding: 0;
    overflow: hidden;
    transform: translateY(10%);
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
    z-index: 104;
}

.dropdown-song-menu{
    bottom: 0;
}

.song__menu-list, .dropdown-track-menu-artist{
    top: 0;
    display: none;
}

.dropdown-song-menu.show, .song__menu-list.show, .dropdown-track-menu-artist.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: block;
}

.small__icon {
    font-size: 18px;
}

.dropdown-song-menu a , .song__menu-list a, .dropdown-track-menu-artist a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--dark);
    text-decoration: none;
}

.dropdown-song-menu a:hover, .song__menu-list a:hover, .dropdown-track-menu-artist a:hover {
    background-color: rgb(248, 248, 248);
}

.dropdown-song-menu a i, .song__menu-list a i, .dropdown-track-menu-artist a i {
    margin-right: 10px;
}

.dropdown-song-menu a span, .song__menu-list a span, .dropdown-track-menu-artist a span {
    font-size: 14px;
}

#playlist, #lyrics {
    margin-right: 1.5rem;
}

.playlist__box {
    position: fixed;
    top: 6rem;
    right: -22rem;
    bottom: 7rem;
    width: 22rem;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 1px 10px 2px rgb(0 0 0 / 15%);
    transition: .4s all ease-in;
    z-index: 99;
}

.playlist__box.show {
    right: 0;
}

.playlist-title {
    border-top-left-radius: 1rem;
    padding: 1rem 1.5rem;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--indigo);
}

.playlist__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-bottom-left-radius: 1rem;
    height: calc(100% - 3.25rem);
}

.playlist__list::-webkit-scrollbar {
    width: 4px;
}

.playlist__list::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.playlist__list::-webkit-scrollbar-thumb {
    background: var(--indigo);
    border-radius: 2px;
}

.playlist__list li {
    position: relative;
    display: block;
    padding: 0.75rem 1rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playlist__list li:hover {
    background-color: rgb(248, 248, 248);
}

.playlist__item-desc {
    display: flex;
}

.playlist__list-item-image {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-right: 10px;
}

.playlist__list-item-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.playlist__song-content h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
}

.playlist__song-content span {
    color: rgb(82, 82, 82);
    font-size: 14px;
}

.btn-dropdown-playlist-menu {
    position: absolute;
    right: 20px;
}

.btn-dropdown-playlist-menu:hover i {
    color: var(--indigo);
}

.btn-dropdown__playlist-menu-child{
    position: relative;
}

.dropdown__playlist-item-menu, .dropdown__playlist-menu-child {
    position: absolute;
    top: 0;
    right: 40px;
    min-width: 180px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 6px 2px rgb(34 38 41 / 15%);
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease;
    z-index: 103;
    display: none;
}

.btn-dropdown-playlist-menu:focus>.dropdown__playlist-item-menu, .btn-dropdown__playlist-menu-child:focus>.dropdown__playlist-menu-child{
    transform: translateY(0);
    opacity: 1;
    display: block;
}

.btn-song-menu:focus>.song__menu-list{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: block;
}

.btn-dropdown-track-menu-artist:focus>.dropdown-track-menu-artist{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: block;
}

.dropdown-song-menu.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.small__icon {
    font-size: 18px;
}

.dropdown__playlist-item-menu a, .dropdown__playlist-menu-child a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--dark);
    text-decoration: none;
}

.dropdown__playlist-item-menu a:hover {
    background-color: rgb(248, 248, 248);
}

.dropdown__playlist-item-menu a i , .dropdown__playlist-menu-child a i{
    margin-right: 10px;
}

.dropdown__playlist-item-menu a span , .dropdown__playlist-menu-child a span{
    font-size: 14px;
}

.btn-load-more {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: var(--white);
    background: var(--indigo-light);
}

.btn-load-more:hover {
    background: var(--indigo);
}

.circle-icon-lg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
 
.circle-icon-lg i{
    color: var(--white);
    font-size: 25px;
}

.circle-icon-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.circle-icon-sm i{
    color: var(--white);
    font-size: 15px;
}

/* Color text */

.yellow__icon {
    color: var(--yellow);
}

.clr-dark{
    color: var(--dark) !important;
}

.clr-blue{
    color: var(--blue) !important;
}

.bg-clr-red{
    background: var(--red);
}

.bg-clr-yellow{
    background: var(--yellow);
}

/* Hover */
.none-hover:hover{
    background: transparent !important;
}

/* Text size */
.text-large{
    font-size: 30px;
}

/* Layout */
.tabs-2{
    width: 50% !important;
    margin: 0 30px !important;
}